.idea
.vagrant
/htdocs/app/config/build.properties
/htdocs/app/config/parameters.yml
/htdocs/build/
/htdocs/phpunit.xml
/htdocs/var/*
!/htdocs/var/cache
/htdocs/var/cache/*
!htdocs/var/cache/.gitkeep
!/htdocs/var/logs
/htdocs/var/logs/*
!htdocs/var/logs/.gitkeep
!/htdocs/var/sessions
/htdocs/var/sessions/*
!htdocs/var/sessions/.gitkeep
!htdocs/var/SymfonyRequirements.php
/htdocs/vendor/
/htdocs/web/bundles/

configs/config.yml
