<html style="min-height: 682px;">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Optional theme -->
    <link rel="stylesheet" href=http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/applicationuser/css/styles.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="sonata-bc bg-black" style="min-height: 682px;">
{% block body %}{% endblock %}
</body>
</html>
