{% block user_block %}
        <li class="user-footer">
            <div class="pull-left">
                <p class="btn"><i class="fa fa-user fa-fw"></i>{{ app.user.username }}</p>
            </div>
            <div class="pull-right">
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> {{ 'logout'|trans }}</a>
            </div>
        </li>
{% endblock %}