vm:
    memory: 2048
    cpus: 2
    ioapic: "on"
    box: ubuntu/trusty64
    host_name: symfony3test.dev
    synced_folder_from: htdocs
    synced_folder_to: /var/www/symfony3_test
    synced_folder_type: nfs
    network_ip: 192.168.50.5
database:
    root_password: rootpwd
    db_name: symfony3_test
xdebug:
    remote_host: 192.168.50.1
    idekey: XDEBUGIDEKEY
